﻿<!doctype html>
<html ng-app="MyApp" ng-controller="LoginController">
<head>
    <meta charset="utf-8" />

    <title>Login</title>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="css/toastr.css" type="text/css" />

    <script src="js/jquery.js"></script>
    <script src="js/toastr.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="js/i18next.js"></script>
    <script src="js/i18nextXHRBackend.js"></script>
    <script src="js/ng-i18next.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-i18next>login.lblLogin</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" ng-i18next="[placeholder]login.lblEmail" name="email" type="text" autofocus="" ng-model="email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-i18next="[placeholder]login.lblPassword" name="password" type="password" value="" ng-model="senha">
                                </div>

                                <button type="button" href="index.html" class="btn btn-lg btn-success btn-block" ng-click="logar()" >{{'login.btnLogin' | i18next }}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
