﻿<!doctype html>
<html ng-app="MyApp" ng-controller="PedidoController">
<head>
    <meta charset="utf-8" />

    <title>Lucene Lanches</title>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/toastr.css" type="text/css" />

    <script src="js/jquery.js"></script>
    <script src="js/toastr.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="js/i18next.js"></script>
    <script src="js/i18nextXHRBackend.js"></script>
    <script src="js/ng-i18next.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

    <header class="bs-docs-nav navbar navbar-static-top navbar-default" id="top">
        <div class="container">
            <nav class="collapse navbar-collapse" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="setIdiomaIngles(); return false;">
                            <img src="images/en.png" width="20" />
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="setIdiomaPortugues(); return false;">
                            <img src="images/pt.png" width="20" />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container" style="display: none">
        <form role="form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control form-control-sm" placeholder="{{'pedido.lblName' | i18next}}" ng-model="pedido.nomeCliente">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-sm" placeholder="{{'pedido.lblAddress' | i18next}}" ng-model="pedido.endereco">
                            </div>
                            <div class="form-group">
                                <label>{{'pedido.lblListOfSnacks' | i18next}}</label>
                                <select class="form-control form-control-sm" ng-options="retornarNome(lanchePronto) for lanchePronto in ListaDeLanchesProntos track by lanchePronto.id" ng-model="lancheProntoSelecionado"></select>
                            </div>
                            <div class="form-group">
                                <label>{{'pedido.lblTypeOfBread' | i18next}}</label>
                                <select class="form-control form-control-sm" ng-options="retornarNome(pao) for pao in Paes track by pao.id" ng-model="lanche.pao"></select>
                            </div>
                            <div class="form-group">
                                {{'pedido.lblDouble' | i18next}}
                                <input type="checkbox" name="chkDobroQueijo" ng-model="lanche.dobroQueijo">
                                <label>{{'pedido.lblCheese' | i18next}}</label>
                                <select class="form-control form-control-sm" ng-options="retornarNome(queijo) for queijo in Queijos track by queijo.id" ng-model="lanche.queijo"></select>
                            </div>
                            <div class="form-group">
                                {{'pedido.lblDouble' | i18next}}
                                <input type="checkbox" name="chkDobroRecheio" ng-model="lanche.dobroRecheio">
                                <label>{{'pedido.lblFilling' | i18next}}</label>
                                <select class="form-control form-control-sm" ng-options="retornarNome(recheio) for recheio in Recheios track by recheio.id" ng-model="lanche.recheio"></select>
                            </div>
                            <div class="form-group">
                                {{'pedido.lblDouble' | i18next}}
                                <input type="checkbox" name="chkDobroSalada" ng-model="lanche.dobroSalada">
                                <label>{{'pedido.lblSalad' | i18next}}</label>
                                <label class="radio-inline" ng-repeat="salada in Saladas track by $index" ng-init="alert($index)">
                                    <input type="radio" id="optSalada{{$index}}" name="optSalada" ng-value="salada" ng-model="lanche.salada">
                                    {{retornarNome(salada)}}
                                    {{atualizarCheck("#optSalada" + $index, salada.id == lanche.salada.id)}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label>{{'pedido.lblSauces' | i18next}}</label>
                                <label class="checkbox-inline" ng-repeat="molho in Molhos track by $index">
                                    <input type="checkbox" name="chkMolho" data-checklist-model="lanche.molho" data-checklist-value="molho">
                                    {{retornarNome(molho)}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label>{{'pedido.lblSpices' | i18next}}</label>
                                <label class="checkbox-inline" ng-repeat="tempero in Temperos track by $index">
                                    <input type="checkbox" name="chkTempero" data-checklist-model="lanche.tempero" data-checklist-value="tempero">
                                    {{retornarNome(tempero)}}
                                </label>
                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-default" ng-click="salvarLanche()">{{'pedido.btnSave' | i18next}}</button>
                                <button type="button" class="btn btn-default" ng-click="finalizarPedido()">{{'pedido.btnFinish' | i18next}}</button>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <label>{{'pedido.lblSnackValue' | i18next}}</label>
                                    <input type="number" class="form-control form-control-sm" disabled value="{{valorLanche(lanche) | number : 2}}">
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="form-group">
                                    <img alt="logo" src="images/logo.jpg" class="logo form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'pedido.lblPreviousOrders' | i18next}}</label>
                                <select multiple="" class="form-control lanches form-control-sm" ng-options="retornarIdentificacaoPedidoAnterior(pedido) for pedido in PedidosAnteriores track by $index" ng-model="indexLanche"></select>
                            </div>

                            <div class="form-group">
                                <label>{{'pedido.lblSelectedSnacks' | i18next}}</label>
                                <select multiple="" class="form-control lanches form-control-sm" ng-options="retornarIdentificacaoLanche(pedido) for pedido in pedido.lanches track by $index" ng-model="indexLanche"></select>
                            </div>

                            <div class="col-md-4 col-md-offset-8">
                                <div class="form-group">
                                    <label>{{'pedido.lblValueOfTheOrder' | i18next}}</label>
                                    <input type="number" class="form-control form-control-sm" disabled value="{{valorPedido() | number : 2}}">
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" tabindex="-1" role="dialog" id="pagamento">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p class="form-control-static">{{'pagamento.lblHello' | i18next : { cliente: pedido.nomeCliente } }}</p>
                                                    <p class="form-control-static">{{'pagamento.lblTotalValueOrder' | i18next : { valor: valorPedido() } }}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'pagamento.lblPaymentMethod' | i18next}}</label>
                                                    <div>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optTipoPagamento" ng-value="1" ng-model="pedido.tipoPagamento">
                                                            {{'pagamento.itmCredit' | i18next}}
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optTipoPagamento" ng-value="2" ng-model="pedido.tipoPagamento">
                                                            {{'pagamento.itmDebit' | i18next}}
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optTipoPagamento" ng-value="3" ng-model="pedido.tipoPagamento">
                                                            {{'pagamento.itmMoney' | i18next}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'pagamento.lblNeedChanges' | i18next}}</label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optTroco" ng-value="true" ng-model="pedido.troco">
                                                        {{'pagamento.itmYes' | i18next}}
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optTroco" ng-value="false" ng-model="pedido.troco">
                                                        {{'pagamento.itmNo' | i18next}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p class="form-control-static">{{'pagamento.lblOrderInProgress' | i18next }}</p>
                                                    <p class="form-control-static">{{'pagamento.lblCalculator' | i18next }}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'pagamento.lblValueOfTheOrder' | i18next}}</label>
                                                    <input type="number" class="form-control form-control-sm" disabled value="{{valorPedido() | number : 2}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'pagamento.lblAmountOfPeople' | i18next}}</label>
                                                    <input type="number" class="form-control form-control-sm" ng-model="pedido.quantidadePessoas">
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'pagamento.lblValuePerPerson' | i18next}}</label>
                                                    <input type="number" class="form-control form-control-sm" disabled value="{{valorPorPessoa() | number : 2}}">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-4">
                                                        <label>{{'pagamento.lblValue' | i18next }}</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{{'pagamento.lblPercentage' | i18next }}</label>
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="pessoa in pessoas track by $index">
                                                    <div class="col-md-4">
                                                        <label>{{'pagamento.lblPerson' | i18next : { numero : $index + 1 } }}</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="number" class="form-control form-control-sm" ng-model="pessoa.valor">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="number" class="form-control form-control-sm" ng-model="pessoa.porcentagem">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="$('#pagamento').modal('hide')">{{'pagamento.btnCancel' | i18next }}</button>
                                        <button type="button" class="btn btn-primary" ng-click="gravarPedido()">{{'pagamento.btnSave' | i18next }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
